<div class="fondo">
  <div class="titulo"><b>SISTEMA DE GESTIÓN</b>
    <div class="cuadrado">
        <div class="interno"></div>
    </div>
  </div>
  <div class="modulo" id="modulo1">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-descripcion">
        <b>MODULO DE VENTAS</b>
      </div>
      <div class="descripcion">
        En esta sección podemos administrar los clientes de la empresa (creando uno nuevo, Buscando, modificando o borrando uno existente), hacer nuestras facturas (tanto en forma manual como electrónica autorizada por la AFIP), podemos gestionar las facturas que realicemos, administrar nuestros vendedores y pagarle sus comisiones. Ademas cuenta con un amplio modulo de reportes o listados para un facil control de los módulos anteriores (Facturas a cobrar, Listado de comisiones, Libro de IVA Ventas, Listado de cheques, entre otros.)
      </div>
    </div>
  </div>

  <div class="modulo" id="modulo2">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-descripcion">
        <b>MODULO DE COMPRAS</b>
      </div>
      <div class="descripcion">
        En esta sección podemos administrar los proveedores de la empresa (creando uno nuevo, Buscando, modificando o borrando uno existente), cargar nuestras facturas de compra, podemos gestionar las facturas que realicemos .Ademas cuenta con un amplio modulo de reportes o listados para un facil control de los módulos anteriores (Facturas a pagar, Subdiario de pagos, Subdiario de compras, entre otros.)
      </div>
    </div>
  </div>

  <div class="modulo" id="modulo3">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-descripcion">
        <b>MODULO DE PRODUCTOS</b>
      </div>
      <div class="descripcion">
        En esta sección podemos administrar los productos de la empresa (creando uno nuevo, buscando, modificando o borrando uno existente), cargar el stock de forma manual o actualizar los precios en caso de ser necesario .Ademas cuenta con un amplio modulo de reportes o listados para un facil control de los módulos anteriores (Listado de stock , Listado de reposición, Productos mas vendidos, Ganancia por producto, entre otros.)      </div>
    </div>
  </div>

  <div class="modulo" id="modulo4">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-descripcion">
        <b>MODULO DE CAJA</b>
      </div>
      <div class="descripcion">
        En esta sección podemos administrar la caja de la empresa (creando un moviento, buscando, modificando o borrando uno existente) , consultar la caja en una fecha particular y llevar un control de los ingresos y egresos que se realicen (tanto en efectivo como en cheques) . Además contamos con una serie de reportes tales como : Listado de saldo de caja, listado de caja por concepto, entre otros.    </div>
    </div>
  </div>

  <div class="modulo" id="modulo5">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-descripcion">
        <b>MODULO DE ADMINISTRACIÓN</b>
      </div>
      <div class="descripcion">
        En esta sección podemos administrar los usuarios de la empresa (creando uno nuevo, modificando o borrando uno existente), con sus respectivos permisos (se puede controlar el acceso de cada usuario a los distintos módulos del sistema). Tambien contamos con un sistema de backups que le permite guardar al usuario la información que maneja hasta el momento en un archivo para evitar perdidas indeseadas de la herramienta mas importante del sistema: los datos.    </div>
    </div>
  </div>

  <div class="modulo" id="modulo6">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-descripcion">
        <b>MODULO DE LIBROS DE IVA</b>
      </div>
      <div class="descripcion">
        En esta sección podemos administrar los distintos libros contables para enviarle a nuestro contador o para volcar información a nuestro sistema.    </div>
  </div>
  
</div>
