<div class="fondo">
  <div class="titulo"><b>SISTEMA VISUAL ELECTRÓNICA</b>
    <div class="cuadrado">
        <div class="interno"></div>
    </div>
  </div>
  <div class="modulo" id="modulo1">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-modulo">
        <b>NUEVA VENTA</b>
      </div>
    </div>
  </div>

  <div class="modulo" id="modulo2">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-modulo">
        <b>VENTAS</b>
      </div>
    </div>
  </div>

  <div class="modulo" id="modulo3">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-modulo">
        <b>NUEVA COMPRA</b>
      </div>
    </div>
  </div>

  <div class="modulo" id="modulo4">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-modulo">
        <b>CLIENTES</b>
      </div>
    </div>
  </div>

  <div class="modulo" id="modulo5">
    <div class="imagen-box">
      <div class="imagen"  #imagen></div>
    </div>
    <div class="texto">
      <div class="titulo-modulo">
        <b>NUEVO CLIENTE</b>
      </div>
    </div>
  </div>
  <a class="boton_descarga" href="http://www.megadat.com.ar/Apps/VisualElectronica/VisualElectronicaFull.exe">Descargar sistema</a>
</div>
