<div class="main_box">
  <h1>MEGADAT</h1>
</div>

<div class="nosotros">
  <h1>NOSOTROS</h1>
  <div class="parrafo">
    <div #item1>
      Somos una empresa informática, que se encarga de realizar sistemas y reparaciones con tres decadas de trayectoria.
    </div>
    <div #item2>
      Mail: Megadatcomputacion@gmail.com
    </div>
    <div #item3>
      Teléfono: (221) 3143794
    </div>
    <div #item4>
      La Plata
    </div>
    <div #item5>
      Instagram: Megadat Informatica
    </div>
  </div>
</div>
